table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btn {
  background: black;
  color: white;
  border: none;
  border-radius: 3px;
  height: 1.2rem;
  width: 30%;
  font-weight: bolder;
  margin: 5px;
}

button:hover {
  background: white;
  color: black;
  border: solid black 1px;
}

input {
  height: 1.5rem;
  width: 90%;
}
